body
  +reg
.container
  width: 1170px
  margin: 0 auto
.btn-blue
  color: #fff
  text-decoration: none
  padding: 20px 30px
  font-size: 12px
  text-transform: uppercase
  background-color: #1669b3
  +bold
button

  border: 0
  outline: none
  &:hover
    cursor: pointer
.btn-yellow
  width: 370px
  background-color: #f7b516
  height: 70px
  text-transform: uppercase
  color: #fff
  font-size: 18px
  +bold
body, html
  overflow-x: hidden